.btn-primary {
  display: inline-block;
  background-color: #AF806C;
  padding: 16px 36px;
  border-radius: 50px;
  color: white;
}

.btn-primary:hover {
  opacity: 1;
  background: #64361F;
  text-decoration: none;
  color: white;

}
