.footer {
  text-align: center;
  padding: 50px 10px;
  background-color: #AF806C;
}

.links {
  text-align:center;
  padding: 0px;
  height: 10px;
  color: ##EAFBF4;
}

.footer a {
  font-size: 25px;
  color:#EAFBF4;
}

.footer p {
  padding: 20px;
  font-size: 15px;
}
